
<div class="login">
    <h1 class ="message">{{message}}</h1>
    <h1 class ="error"> {{error}}</h1>
    <p>LOGIN</p>
    <form  method="post" action="/api/sessions/login">
        <input type="email" name="email" placeholder="Correo de usuario">
        <input type="password" name="password" placeholder="Contraseña">
        
        <button class="button btnInfo"> LOGIN</button>
    </form>
</div>