<div class="signup">
    <h1 class="error">{{error}}</h1>
    
    <p>REGISTRO</p>
    <form method="post" action="/api/sessions/signup">
        <input type="text" name="first_name" placeholder="Apellido">
        <input type="text" name="last_name" placeholder="Nombre">
        <input type="email" name="email" placeholder="Correo de usuario">
        <input type="text" name="age" placeholder="Edad">
        <input type="password" name="password" placeholder="Ingrese clave">
        <button class="button btnInfo">Registrarse</button>
    </form>
</div> 
