<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" />
    <title>CSP FRONT</title>
</head>
<body>
    <header>
    <nav class="NavBar">
        <ul class="navBarTit">
            <li class="navBarList">
                <a class="navBarLink" href="/"> HOME  </a>
            </li>
            <li class="navBarList">
                <a class="navBarLink" href="/realtimeproducts">PRODUCTOS EN TIEMPO REAL</a>
            </li>
        </ul>
        
    </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        
    </footer>
</body>
</html>